{ user, pkgs, ... }
[user]
    name = andrea11
    email = 10788630+andrea11@users.noreply.github.com
    signingkey = /Users/${user}/.ssh/github_personal_signature_ed25519.pub

    [commit]
        gpgsign = true

    [core]
        sshCommand = "ssh -F ~/.ssh/github_personal_config"

    [gpg]
        format = ssh

    [gpg "ssh"]
        allowedSignersFile = /Users/${user}/.ssh/allowed_signers
        program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign

[url "git@github.com:$1/"]
    insteadOf = https://github.com/(.*)/
