name: Formatting Check
on: [push, pull_request, workflow_dispatch]
jobs:
  checks:
    name: Check expressions
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: DeterminateSystems/nix-installer-action@v21
      - uses: DeterminateSystems/magic-nix-cache-action@v13
      - run: nix fmt .
