name: Formatting
on: pull_request
jobs:
  checks:
    name: Formatting checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@v21
        with:
          extra-conf: |-
            extra-experimental-features = pipe-operators
      - run: nix fmt .
