name: Formatting
on: pull_request
jobs:
  checks:
    name: Formatting checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: DeterminateSystems/nix-installer-action@v21
      - run: nix fmt .
